.game-data-nav {
  margin-top: calc(var(--base) * 0.5);
}

.game-data-nav a {
  display: block;
  padding: 8px 12px;
  border-radius: 3px;
  color: var(--theme-elevation-800);
  text-decoration: none;
}

.game-data-nav a:hover,
.game-data-nav a.active {
  background: var(--theme-elevation-100);
  color: var(--theme-text);
}
